*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  /* font-family: --- i am yet to choose my own fonts  */
  /* background: linear-gradient(135deg, #e1e1e1, #d7d7ee); */
  background-color: #00000066;
  background-color: #f4f4f4;
  /* background: linear-gradient(135deg, #111 0%, #2b2b2b 100%);  */
}
.desk-nav-bar{
    display: none;
}
.name {
  font-size: 1.3rem;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 0.4rem;
  font-family: "BBH Sans Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.name a{
  text-decoration: none;
    color: inherit;
}
.mobile-nav-bar button{
    margin: 1rem;
    padding: .4rem .6rem;
    /* background: #00000066; */
    /* color: #fff; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: .6rem;
    font-size: 1rem;
  
}
.mobile-nav-bar nav{
  display: none;
}
.mobile-nav-style{
  background: #000000ee;
  width: 85%;
  height:auto;
  position: absolute;
  top: 0;
  left: 0; 
  z-index: 500;
  color: #fff;
  padding: 1.5rem;
  border-radius: 0 0  1.5rem 0; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.mobile-nav-style button{
   margin: 0;
    padding: .2rem .4rem;
    background: #00000066;
    color: #fff;
    border: 2px solid #fff;
    font-size: .8rem;
    outline: none;
}
.mobile-nav-style .name{
  text-align: center;
  margin: 1rem 0;
  font-size: .7rem;
}
.mobile-nav-style ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}
.mobile-nav-style ul li a{
  font-family: monospace;
    text-decoration: none;
    color: #fff;
  padding: .4rem .9rem .4rem 0;
  color: #ff0;
  border-bottom: #ff0 1px solid;
  text-transform: capitalize;
  transition: transform 0.2s ease, color 0.2s ease;
}
.mobile-nav-style ul li a:hover {
  transform: translateY(-2px);
    color: #555;
    background: #ff0;
    padding: .4rem .9rem;
}

@media (min-width: 968px) {
.desk-nav-bar{
    width: 85%;
    margin: 3rem auto;
    padding: .6rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #00000066; */
    /* color: #fff; */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 3rem;
}
.desk-nav-bar ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: medium;
    font-family:  monospace;
}
.desk-nav-bar ul li{
  padding: .4rem .9rem;
  border-radius: 5rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  transition: transform 0.2s ease, color 0.2s ease;
}
.desk-nav-bar ul li a{
  color: #000;
  text-decoration: none;
}
.desk-nav-bar ul li:hover {
  transform: translateY(-2px);
    font-weight: 600;
}
.mobile-nav-bar{
  display: none;
}
}